In [7]:
import pandas as pd

df = pd.read_csv('data/data.csv', low_memory=False)
df.head()

,Unnamed: 0,index,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,379,379,2023,11710,송파구,10400,송파동,1.0,대지,95.0,...,11000,13.38,10.61,5.0,NaN,NaN,2012.0,연립다세대,중개거래,서울 송파구
1,1931,1931,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,27750,29.02,20.02,4.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
2,1932,1932,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,29550,29.99,20.69,3.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
3,1958,1958,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,27050,28.97,19.98,3.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
4,1993,1993,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,26750,28.97,19.98,2.0,NaN,NaN,2023.0,연립다세대,직거래,NaN

In [10]:
data = pd.read_csv('data/df.csv')
data.head()

C:\Tmp\ipykernel_28916\2936759413.py:1: DtypeWarning: Columns (5,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/df.csv')

,Unnamed: 0,ACC_YEAR,SGG_NM,BJDONG_NM,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,DEAL_YMD,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN
0,0,2023,송파구,송파동,대지,95.0,7.0,HANYANGLEEPS,20240123,11000,13.38,10.61,5.0,NaN,2012.0,연립다세대,중개거래
1,1,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,27750,29.02,20.02,4.0,NaN,2023.0,연립다세대,직거래
2,2,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,29550,29.99,20.69,3.0,NaN,2023.0,연립다세대,직거래
3,3,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,27050,28.97,19.98,3.0,NaN,2023.0,연립다세대,직거래
4,4,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,26750,28.97,19.98,2.0,NaN,2023.0,연립다세대,직거래

In [5]:
df.SGG_NM.value_counts()

df1=df.loc[df['SGG_NM']=='강서구']

df1.BJDONG_NM.value_counts()

BJDONG_NM
화곡동     17403
방화동      4319
등촌동      4250
마곡동      3749
염창동      1996
가양동      1906
내발산동     1892
공항동      1281
외발산동       81
개화동        43
시흥동         1
Name: count, dtype: int64

In [6]:
data.SGG_NM.value_counts()

df1=data.loc[data['SGG_NM']=='송파구']

df1.BJDONG_NM.value_counts()

BJDONG_NM
문정동    5698
가락동    3216
방이동    2892
잠실동    2871
오금동    2090
송파동    1977
석촌동    1581
삼전동    1429
신천동    1331
거여동    1230
마천동    1196
장지동     968
풍납동     944
Name: count, dtype: int64