In [1]:
import pandas as pd

In [7]:
import pandas as pd

df = pd.read_csv('data/data.csv', low_memory=False)
df.head()

,Unnamed: 0,index,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,379,379,2023,11710,송파구,10400,송파동,1.0,대지,95.0,...,11000,13.38,10.61,5.0,NaN,NaN,2012.0,연립다세대,중개거래,서울 송파구
1,1931,1931,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,27750,29.02,20.02,4.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
2,1932,1932,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,29550,29.99,20.69,3.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
3,1958,1958,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,27050,28.97,19.98,3.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
4,1993,1993,2023,11530,구로구,10200,구로동,1.0,대지,546.0,...,26750,28.97,19.98,2.0,NaN,NaN,2023.0,연립다세대,직거래,NaN

In [1]:
import pandas as pd
data = pd.read_csv('data/df.csv', low_memory=False)
data.head()

,Unnamed: 0,ACC_YEAR,SGG_NM,BJDONG_NM,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,DEAL_YMD,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN
0,0,2023,송파구,송파동,대지,95.0,7.0,HANYANGLEEPS,20240123,11000,13.38,10.61,5.0,NaN,2012.0,연립다세대,중개거래
1,1,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,27750,29.02,20.02,4.0,NaN,2023.0,연립다세대,직거래
2,2,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,29550,29.99,20.69,3.0,NaN,2023.0,연립다세대,직거래
3,3,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,27050,28.97,19.98,3.0,NaN,2023.0,연립다세대,직거래
4,4,2023,구로구,구로동,대지,546.0,17.0,오크트리빌구로1차,20240109,26750,28.97,19.98,2.0,NaN,2023.0,연립다세대,직거래

In [5]:
df.SGG_NM.value_counts()

df1=df.loc[df['SGG_NM']=='강서구']

df1.BJDONG_NM.value_counts()

BJDONG_NM
화곡동     17403
방화동      4319
등촌동      4250
마곡동      3749
염창동      1996
가양동      1906
내발산동     1892
공항동      1281
외발산동       81
개화동        43
시흥동         1
Name: count, dtype: int64

In [4]:
print(data['HOUSE_TYPE'].unique())
print(data['HOUSE_TYPE'].value_counts())

['연립다세대' '아파트' '오피스텔' '단독다가구']
HOUSE_TYPE
아파트      184913
연립다세대    179594
오피스텔      59573
단독다가구     30317
Name: count, dtype: int64

In [5]:
print(data['LAND_GBN_NM'].unique())

['대지' nan '산' '블럭']

In [5]:
print(data['TOT_AREA'].value_counts())

TOT_AREA
0.00      184913
99.00        489
116.00       394
132.00       393
27.50        382
           ...
248.40         1
519.00         1
80.71          1
101.62         1
4.00           1
Name: count, Length: 11568, dtype: int64

In [14]:
def calculate_unit_price(data):
    result = {}
    
    for index,row in data.iterrows():
        house_type = row['HOUSE_TYPE']  # 건물 용도
        tot_area = float(row['TOT_AREA'])  # 토지 면적(제곱미터)
        transaction_price = float(row['OBJ_AMT'])  # 물건 금액(만원)
        
        if house_type not in result:
            result[house_type] = {'total_area': 0, 'total_price': 0, 'count': 0}
            
        result[house_type]['total_area'] += tot_area  # 건물 용도별 토지면적 누적
        result[house_type]['total_price'] += transaction_price  # 건물 용도별 물건 금액 누적
        result[house_type]['count'] += 1  # 건물 용도별 거래 건수 누적
        
    for house_type, values in result.items():
        if values['total_area'] != 0:
            average_price_per_tot_area = values['total_price'] / values['total_area']
        else:
            average_price_per_tot_area = 0
            
        result[house_type]['average_price_per_tot_area'] = average_price_per_tot_area
    
    return result
    
result = calculate_unit_price(data)
    
for house_type, values in result.items():
    print(f'{house_type}: {values["average_price_per_tot_area"]:.2f} 원/㎡')

연립다세대: 1090.24 원/㎡
아파트: 0.00 원/㎡
오피스텔: 611.15 원/㎡
단독다가구: 998.62 원/㎡

In [ ]:
data['DEAL_YMD'] = pd.to_datetime(total_df['DEAL_YMD'], format="%Y-%m-%d")

In [3]:
# @st.cache_data
def load_data():
    df=pd.read_csv('https://raw.githubusercontent.com/ghkstod/TIL/main/data.txt',encoding='utf-8',sep='\t')
    df.drop(['Column1'],axis=1,inplace=True)
    return df

print(load_data().head())

C:\Tmp\ipykernel_17040\1864173540.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('https://raw.githubusercontent.com/ghkstod/TIL/main/data.txt',encoding='utf-8',sep='\t')

   ACC_YEAR SGG_NM BJDONG_NM LAND_GBN_NM  BONBEON  BUBEON       BLDG_NM  \
0      2023    송파구       송파동          대지     95.0     7.0  HANYANGLEEPS
1      2023    구로구       구로동          대지    546.0    17.0     오크트리빌구로1차
2      2023    구로구       구로동          대지    546.0    17.0     오크트리빌구로1차
3      2023    구로구       구로동          대지    546.0    17.0     오크트리빌구로1차
4      2023    구로구       구로동          대지    546.0    17.0     오크트리빌구로1차

   DEAL_YMD  OBJ_AMT  BLDG_AREA  TOT_AREA  FLOOR  CNTL_YMD  BUILD_YEAR  \
0  20240123    11000      13.38     10.61      5       NaN      2012.0
1  20240109    27750      29.02     20.02      4       NaN      2023.0
2  20240109    29550      29.99     20.69      3       NaN      2023.0
3  20240109    27050      28.97     19.98      3       NaN      2023.0
4  20240109    26750      28.97     19.98      2       NaN      2023.0

  HOUSE_TYPE REQ_GBN
0      연립다세대    중개거래
1      연립다세대     직거래
2      연립다세대     직거래
3      연립다세대     직거래
4      연립다세대     직거래

In [24]:
import pandas as pd


# 각 건물용도별 최대값 초기화
max_values = {
    '아파트': {'amount': None, 'location': None, 'building': None},
    '오피스텔': {'amount': None, 'location': None, 'building': None},
    '연립다세대': {'amount': None, 'location': None, 'building': None},
    '단독다가구': {'amount': None, 'location': None, 'building': None}
}

for house_type in ['아파트', '오피스텔', '연립다세대','단독다가구']:
    # 해당 건물용도의 데이터 필터링
    filtered_data = df[df['HOUSE_TYPE'] == house_type]
    
    # 거래금액('OBJ_AMT') 열에서 최대 값 찾기
    max_amount = filtered_data['OBJ_AMT'].max()
    
    # 최대값을 가진 행 찾기
    max_row = filtered_data[filtered_data['OBJ_AMT'] == max_amount].iloc[0]

    # 최대값 및 위치 정보 저장
    max_values[house_type]['amount'] = max_amount
    max_values[house_type]['location'] = max_row['SGG_NM'] if not pd.isna(max_row['SGG_NM']) else ''
    max_values[house_type]['location'] += ' ' + max_row['BJDONG_NM'] if not pd.isna(max_row['BJDONG_NM']) else ''
    max_values[house_type]['building'] = max_row['BLDG_NM'] if not pd.isna(max_row['BLDG_NM']) else ''

# 결과 출력
for house_type, values in max_values.items():
    print(f"{house_type} 최대값:", values['amount'])
    print("자치구 및 법정동:", values['location'], values['building'])

아파트 최대값: 1800000
자치구 및 법정동: 용산구 한남동 파르크한남
오피스텔 최대값: 2450000
자치구 및 법정동: 송파구 신천동 롯데월드타워앤드롯데월드몰
연립다세대 최대값: 1850000
자치구 및 법정동: 서초구 서초동 트라움하우스5
단독다가구 최대값: 11087780
자치구 및 법정동: 용산구 한남동

In [27]:


# 각 건물용도별 최대값 및 최소값 초기화
values = {
    '아파트': {'max_amount': None, 'min_amount': None, 'max_location': None, 'min_location': None, 'max_building': None, 'min_building': None},
    '오피스텔': {'max_amount': None, 'min_amount': None, 'max_location': None, 'min_location': None, 'max_building': None, 'min_building': None},
    '연립다세대': {'max_amount': None, 'min_amount': None, 'max_location': None, 'min_location': None, 'max_building': None, 'min_building': None},
    '단독다가구': {'max_amount': None, 'min_amount': None, 'max_location': None, 'min_location': None, 'max_building': None, 'min_building': None}
}

for house_type in ['아파트', '오피스텔', '연립다세대','단독다가구']:
    # 해당 건물용도의 데이터 필터링
    filtered_data = df[df['HOUSE_TYPE'] == house_type]
    
    # 거래금액('OBJ_AMT') 열에서 최대 값 및 최소 값 찾기
    max_amount = filtered_data['OBJ_AMT'].max()
    min_amount = filtered_data['OBJ_AMT'].min()
    
    # 최대값 및 최소값을 가진 행 찾기
    max_row = filtered_data[filtered_data['OBJ_AMT'] == max_amount].iloc[0]
    min_row = filtered_data[filtered_data['OBJ_AMT'] == min_amount].iloc[0]

    # 최대값 및 최소값 및 위치 정보 저장
    values[house_type]['max_amount'] = max_amount
    values[house_type]['min_amount'] = min_amount
    values[house_type]['max_location'] = max_row['SGG_NM'] if not pd.isna(max_row['SGG_NM']) else ''
    values[house_type]['max_location'] += ' ' + max_row['BJDONG_NM'] if not pd.isna(max_row['BJDONG_NM']) else ''
    values[house_type]['max_building'] = max_row['BLDG_NM'] if not pd.isna(max_row['BLDG_NM']) else ''
    values[house_type]['min_location'] = min_row['SGG_NM'] if not pd.isna(min_row['SGG_NM']) else ''
    values[house_type]['min_location'] += ' ' + min_row['BJDONG_NM'] if not pd.isna(min_row['BJDONG_NM']) else ''
    values[house_type]['min_building'] = min_row['BLDG_NM'] if not pd.isna(min_row['BLDG_NM']) else ''

# 결과 출력
for house_type, data in values.items():
    print(f"{house_type} 최대값:", data['max_amount'])
    print("최대값 위치 정보:")
    print("  자치구 및 법정동:", data['max_location'],data['max_building'])
    print(f"{house_type} 최소값:", data['min_amount'])
    print("최소값 위치 정보:")
    print("  자치구 및 법정동:", data['min_location'], data['min_building'])

아파트 최대값: 1800000
최대값 위치 정보:
  자치구 및 법정동: 용산구 한남동 파르크한남
아파트 최소값: 6000
최소값 위치 정보:
  자치구 및 법정동: 구로구 구로동 (752-10)
오피스텔 최대값: 2450000
최대값 위치 정보:
  자치구 및 법정동: 송파구 신천동 롯데월드타워앤드롯데월드몰
오피스텔 최소값: 2130
최소값 위치 정보:
  자치구 및 법정동: 광진구 군자동 동원데쟈뷰
연립다세대 최대값: 1850000
최대값 위치 정보:
  자치구 및 법정동: 서초구 서초동 트라움하우스5
연립다세대 최소값: 2000
최소값 위치 정보:
  자치구 및 법정동: 강서구 화곡동 (102-130)
단독다가구 최대값: 11087780
최대값 위치 정보:
  자치구 및 법정동: 용산구 한남동
단독다가구 최소값: 1700
최소값 위치 정보:
  자치구 및 법정동: 종로구 창신동